<div class="main_banner_sect">
      <div class="banner_head">
        <div class="mob_nav_icon">
    <div class="mob-icon" onclick="toggleMenu(this)">
        <div class="bar_mob"></div>
        <div class="bar_mob"></div>
        <div class="bar_mob"></div>
    </div>

              <div class="mob_side-menu" id="mob_sideMenu">

        <p>{{ section.settings.mobtxt }}</p>
                <button class="head_btn">{{ section.settings.mobbtn }}
                  <span>{{ section.settings.top_btn }}</span><img
              class="btn_icon"
              src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Line_15.png?v=1742643409"
            /></button>
    </div>
        </div>
        <div class="bann_log">
          <a href="{{  }}">
          {% if section.settings.logo %}
            
          <img
            src="{{ section.settings.logo | img_url : 'master' }} "
          />
            {% endif %}
            </a>
        </div>

        <div class="bann_head_cont">
          <p>{{ section.settings.head_cnt }}</p>
        </div>
        <div class="bann_head_btn">
          <a href="{{ section.settings.btn_url }}">
            <button class="head_btn">
            <span>{{ section.settings.top_btn }}</span><img
              class="btn_icon"
              src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Line_15.png?v=1742643409"
            />
          </button>
          </a>
          
        </div>
      </div>
      <div class="banner_sect">
        <img
          src="{{ section.settings.bann_img | img_url : 'master' }}"
        />
      </div>
      <div class="banner_sect_mob">
        <div class="bann_cont_mob">
         <h1>{{ section.settings.bann_head }}</h1>
          <p>
           {{ section.settings.bann_parg }}
          </p>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Frame_1.png"
        />
      </div>
      <div class="sec_banner_sect">
        <div class="cust_bann_cont">
    
          <h1>{{ section.settings.bann_head }}</h1>
          <p>
            {{ section.settings.bann_parg }}
          </p>
          <a href="{{ section.settings.bann_btn_url }}">
              <button class="bann_btn_2">
           <span>{{ section.settings.bann_btn }}</span><img src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Line_15_1.png"/>
          </button>
          </a>
        
          
        </div>
        <div class="sec_bann_col">
          <img
            src="{{ section.settings.sec_bann | img_url : 'master' }}"
          />
        </div>
      </div>
  <div class="bann_btm_cont">
    <p>{{ section.settings.btm_cont }}</p>
  </div>
    </div>

    <script>
        function toggleMenu(icon) {
            icon.classList.toggle("active_mob");
                      document.getElementById("mob_sideMenu").classList.toggle("active");

        }
      
    </script>

{% schema %}
  {
    "name": "Test Banner",
    "class": "main_cust_bann",    
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Insert Logo"
      },

      {
        "type": "text",
        "id": "head_cnt",
        "label": "Top Announcement Bar Text",
        "default":"Find the ideal gift for your loved ones."
      },

      {
        "type": "text",
        "id": "top_btn",
        "label": "Top Announcement Bar Button Text",
        "default":"choose gift"
      },

      {
        "type": "url",
        "id": "btn_url",
        "label": "Top Announcement Button link"
      },
      {
       "type": "image_picker",
        "id": "bann_img",
        "label": "upload Banner Image"
        
      },

      {
        "type": "text",
        "id": "bann_head",
        "label": "Banner Heading",
        "default":"The Gift Guide"
      },

      {
        "type": "text",
        "id": "bann_parg",
        "label": "Banner Text",
        "default":"Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
      },

      {
        "type": "text",
        "id": "bann_btn",
        "label": "Banner Button Text",
        "default":"Shop Now"
      },

      {
        "type": "url",
        "id": "bann_btn_url",
        "label": "Banner Button Link"
      },

    {
       "type": "image_picker",
        "id": "sec_bann",
        "label": "Upload Second Banner Image"
        
      },

      {
        "type": "text",
        "id": "btm_cont",
        "label": "Bottom Content",
        "default":"SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
      },

       {
        "type": "text",
        "id": "mobtxt",
        "label": "Mobile Text",
        "default":"Find the ideal gift for your loved ones."
      },

         {
        "type": "text",
        "id": "mobbtn",
        "label": "Mobile Button Text",
        "default":"choose Gift"
      }
      
    ],
    "presets": [
      {
        "name":"Test Banner",
      }
    ]
    
  }
{% endschema %}