<div class="main_feat_section page-width">
  <div class="cust_head">
    <h2>Tisso vison in the wild</h2>
    <div class="cust_feat">
      {% for block in section.blocks %}
        {% assign product = block.settings.test_prod %}
        <div class="cust_product_item">
          {% if block.settings.prod_bann %}
            <img src="{{ block.settings.prod_bann | img_url:'master' }}">
            <div class="cust_pls_icon">
              <img src="{{ block.settings.pls_icon | img_url: 'master' }}">
            </div>
          {% else %}
            <img src="{{ product.featured_image | img_url:'master' }}">
          {% endif %}
        </div>
        <div class="popup-container">
          <div class="popup-header">
            <img src="{{ product.featured_image | img_url : 'master' }}" alt="{{ product.title }}">
          </div>
          <div class="popup_head">
            <h3>{{ product.title }}</h3>
            <p class="pop_prc">{{ product.price | money }}</p>
            <p class="pop_desc">{{ product.description | strip_html | truncate:100 }}</p>
              <span class="close-btn" onclick="closePopup('{{ product.id }}')">×</span>            
          </div>
          <div class="popup-content">
            <form class="" method="post" action="/cart/add">
              <input type="hidden" name="id" id="variant-id-{{ product.id }}" value="{{ product.variants.first.id }}">

               <!-- Color Options (Above Size) -->
              {% assign color_values = '' %}
              {% assign size_values = '' %}

             {% for option in product.options %}
                {% assign option_name = option | downcase %}
                {% assign option_index = forloop.index0 %}

                {% if option_name == 'color' %}
                  <label>{{ option }}</label>

                  <div class="color-options">
                    {% for variant in product.variants %}
                      {% assign color_value = variant.options[option_index] %}
                      {% unless color_values contains color_value %}
                        <div
                          class="color-option bdr-{{ forloop.index }}"
                          data-color="{{ color_value }}"
                          data-variant-id="{{ variant.id }}"
                          data-product-id="{{ product.id }}"
                          onclick="selectColorVariant(this, '{{ product.id }}')"
                        >
                          <span style="background-color: {{ color_value }};" class="cust_clr"> </span>
                          <span>{{ color_value }}</span>
                        </div>

                        {% assign color_values = color_values | append: ',' | append: color_value %}
                      {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
              
              
            <button type="submit"> add to cart{{  }}</button>
            </form>
            
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>

  function selectColorVariant(element, productId){
    document.querySelectorAll('#popup-${productId} .color-option').forEach(option =>
      option.classList.remove('active'));
    element.classList.add(active);
    updateVariant(productId);
      
  }
  
</script>

{% schema %}
{
  "name": "Test Products Section",
  "settings": [

  ],

  "blocks": [
    {
      "name":"Product Block",
      "type": "slide",
      "settings":[
        {
          "type": "product",
          "id": "test_prod",
          "label": "Select Product for block",
        },
        {
          "type": "image_picker",
          "id": "prod_bann",
          "label": "Select Image for Product Column"
        },
        {
          "type": "image_picker",
          "id": "pls_icon",
          "label": "Plus Icon for popup click"
        }
      ]

    }
  ],
  "presets": [
    {
      "name": "Test Products Section"
    }
  ]

}
{% endschema %}
